.modern {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #f0f0f0;
  color: #444444;
}
.modern * {
  transition-property: background-color, color, opacity, border;
  transition-timing-function: linear;
  transition-duration: 100ms;
}
.modern .tip {
  font-size: 0.8em;
  font-style: italic;
}
.modern b {
  font-weight: 600;
}
.modern h1, .modern h2, .modern h3, .modern h4, .modern h5, .modern h6 {
  margin: 0 0 0.5em 0;
}
.modern h1, .modern .h1 {
  font-size: 3.5em;
  font-weight: 200;
}
.modern h2, .modern .h2 {
  font-size: 3em;
  font-weight: 300;
}
.modern h3, .modern .h3 {
  font-size: 2.5em;
  font-weight: 300;
}
.modern h4, .modern .h4 {
  font-size: 2em;
  font-weight: 300;
}
.modern h5, .modern .h5 {
  font-size: 1.5em;
  font-weight: 300;
}
.modern h6, .modern .h6 {
  font-size: 1.25em;
  font-weight: 300;
}
.modern ul, .modern ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
.modern ul {
  list-style: none;
}
.modern ul li {
  position: relative;
}
.modern ul li::before {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  top: 0.5em;
  left: -1em;
  transition-property: background-color;
  transition-timing-function: linear;
  transition-duration: 100ms;
}
.modern a {
  font-weight: 600;
}
.modern a:hover {
  outline: 0;
  transition-duration: 50ms;
}
.modern a:active {
  transition-duration: 0ms;
}
.modern label {
  white-space: nowrap;
}
.modern button,
.modern input[type=button],
.modern input[type=submit] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.75em;
  padding: 0 1.5em;
  border: 0;
  margin: 0.125em 0;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  transition-timing-function: ease-out;
}
.modern button:enabled,
.modern input[type=button]:enabled,
.modern input[type=submit]:enabled {
  cursor: pointer;
}
.modern button:enabled:hover,
.modern input[type=button]:enabled:hover,
.modern input[type=submit]:enabled:hover {
  transition-duration: 50ms;
}
.modern button:enabled:active,
.modern input[type=button]:enabled:active,
.modern input[type=submit]:enabled:active {
  transition-duration: 0ms;
}
.modern button:disabled,
.modern input[type=button]:disabled,
.modern input[type=submit]:disabled {
  opacity: 0.5;
}
.modern input[type=submit] {
  font-weight: 600;
}
.modern input[type=text],
.modern textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.75em;
  padding: 0 0.5em;
  border: 0.0625em solid;
  margin: 0.125em 0;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.modern input[type=text]::placeholder,
.modern textarea::placeholder {
  font-style: italic;
  color: inherit;
  opacity: 0.7;
}
.modern input[type=text]:-moz-read-only,
.modern textarea:-moz-read-only {
  background-color: transparent;
}
.modern input[type=text]:read-only,
.modern textarea:read-only {
  background-color: transparent;
}
.modern input[type=text]:disabled,
.modern textarea:disabled {
  opacity: 0.5;
}
.modern input[type=checkbox],
.modern input[type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  opacity: 0;
  z-index: -1;
}
.modern input[type=checkbox] + label,
.modern input[type=radio] + label {
  margin: 0.125em 0;
}
.modern input[type=checkbox] + label > .check,
.modern input[type=radio] + label > .check {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.5em;
  border: 0.0625em solid;
}
.modern input[type=checkbox] + label > .check.small,
.modern input[type=radio] + label > .check.small {
  width: 0.75em;
  height: 0.75em;
  top: 0;
}
.modern input[type=checkbox] + label > .check, .modern input[type=checkbox] + label > .check.medium,
.modern input[type=radio] + label > .check,
.modern input[type=radio] + label > .check.medium {
  width: 1em;
  height: 1em;
  top: 0.15em;
}
.modern input[type=checkbox] + label > .check.large,
.modern input[type=radio] + label > .check.large {
  width: 1.25em;
  height: 1.25em;
  top: 0.25em;
}
.modern input[type=checkbox]:checked + label > .check,
.modern input[type=radio]:checked + label > .check {
  border-width: 0.2em;
}
.modern input[type=checkbox]:checked + label > .check.large,
.modern input[type=radio]:checked + label > .check.large {
  border-width: 0.25em;
}
.modern input[type=checkbox]:enabled + label > .check,
.modern input[type=radio]:enabled + label > .check {
  cursor: pointer;
}
.modern input[type=checkbox]:enabled + label:hover > .check,
.modern input[type=radio]:enabled + label:hover > .check {
  transition-duration: 50ms;
}
.modern input[type=checkbox]:enabled:active + label > .check,
.modern input[type=radio]:enabled:active + label > .check {
  transition-duration: 0ms;
}
.modern input[type=checkbox]:disabled + label > .check,
.modern input[type=radio]:disabled + label > .check {
  opacity: 0.5;
}
.modern input[type=checkbox]:indeterminate + label > .check.small {
  border-width: 0.3em 0.0625em;
}
.modern input[type=checkbox]:indeterminate + label > .check, .modern input[type=checkbox]:indeterminate + label > .check.medium {
  border-width: 0.4em 0.0625em;
}
.modern input[type=checkbox]:indeterminate + label > .check.large {
  border-width: 0.5em 0.0625em;
}
.modern input[type=radio] + label > .check.small {
  border-radius: 0.375em;
}
.modern input[type=radio] + label > .check, .modern input[type=radio] + label > .check.medium {
  border-radius: 0.5em;
}
.modern input[type=radio] + label > .check.large {
  border-radius: 0.625em;
}
.modern select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.75em;
  padding: 0 0.5em;
  padding-right: 2em;
  border-width: 0.0625em;
  border-style: solid;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-position: calc(100% - 1em) 54%, calc(100% - 0.5em) 54%;
  background-size: 0.5em 0.5em, 0.5em 0.5em;
  background-repeat: no-repeat;
}
.modern select:enabled {
  cursor: pointer;
}
.modern select:disabled {
  opacity: 0.5;
}
.modern fieldset {
  border-width: 0.0625em;
  margin: 0;
  padding: 0.5em 1em;
}
.modern fieldset legend {
  padding: 0 0.5em;
  font-size: 120%;
  font-weight: 300;
}
.modern .segmented-radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.modern .segmented-radio-group.inline {
  display: inline-flex;
}
.modern .segmented-radio-group label {
  display: block;
  border-width: 0.0625em;
  border-style: solid;
  padding: 0.3125em 1.5em;
  line-height: 1em;
  text-align: center;
}
.modern .segmented-radio-group label:not(:first-of-type) {
  border-left: none;
}
.modern .segmented-radio-group input:enabled + label {
  cursor: pointer;
}
.modern .segmented-radio-group input:enabled + label:hover {
  transition-duration: 50ms;
}
.modern .segmented-radio-group input:enabled:active + label {
  transition-duration: 0ms;
}
.modern .segmented-radio-group input:disabled + label {
  opacity: 0.5;
}
.modern .tile-container {
  display: flex;
  margin: -0.125em;
  flex-wrap: wrap;
}
.modern .tile,
.modern .tile-group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  border: 0;
}
.modern .tile {
  flex-shrink: 0;
  margin: 0.125em;
  padding: 0.5em;
}
.modern .tile.small {
  width: 2.875em;
  height: 2.875em;
}
.modern .tile, .modern .tile.medium {
  width: 6em;
  height: 6em;
}
.modern .tile.wide {
  width: 12.25em;
  height: 6em;
}
.modern .tile.large {
  width: 12.25em;
  height: 12.25em;
}
.modern .tile-group {
  flex-shrink: 1;
  flex-basis: 0;
}
.modern .tile-group.small {
  flex-basis: auto;
  max-width: 3.25em;
}
.modern .tile-group.medium {
  flex-basis: auto;
  max-width: 6.25em;
}
.modern .tile-group.wide, .modern .tile-group.large {
  flex-basis: auto;
  max-width: 12.5em;
}
.modern .tip {
  color: rgba(68, 68, 68, 0.7);
}
.modern ::selection {
  background-color: rgba(68, 68, 68, 0.997);
  color: #ffffff;
}
.modern ul li::before {
  background-color: #444444;
}
.modern a {
  color: #444444;
}
.modern a:hover {
  color: #b7b7b7;
}
.modern a:active {
  color: #777777;
}
.modern button,
.modern input[type=button],
.modern input[type=submit] {
  background-color: #d0d0d0;
  color: inherit;
}
.modern button:enabled:hover,
.modern input[type=button]:enabled:hover,
.modern input[type=submit]:enabled:hover {
  background-color: #b7b7b7;
}
.modern button:enabled:active,
.modern input[type=button]:enabled:active,
.modern input[type=submit]:enabled:active {
  background-color: #777777;
}
.modern input[type=submit]:enabled {
  background-color: #444444;
  color: #ffffff;
}
.modern input[type=text],
.modern textarea {
  background-color: inherit;
  color: inherit;
  border-color: #d0d0d0;
  caret-color: #444444;
}
.modern input[type=checkbox] + label > .check,
.modern input[type=radio] + label > .check {
  background-color: inherit;
  border-color: #d0d0d0;
}
.modern input[type=checkbox]:checked + label > .check,
.modern input[type=radio]:checked + label > .check {
  background-color: #444444;
}
.modern input[type=checkbox]:enabled + label:hover > .check,
.modern input[type=radio]:enabled + label:hover > .check {
  background-color: #b7b7b7;
  border-color: #b7b7b7;
}
.modern input[type=checkbox]:enabled:active + label > .check,
.modern input[type=radio]:enabled:active + label > .check {
  background-color: #777777;
  border-color: #777777;
}
.modern input[type=checkbox]:enabled:checked + label:hover > .check,
.modern input[type=radio]:enabled:checked + label:hover > .check {
  background-color: #444444;
  border-color: #b7b7b7;
}
.modern input[type=checkbox]:enabled:checked:active + label > .check,
.modern input[type=radio]:enabled:checked:active + label > .check {
  background-color: #777777;
}
.modern input[type=checkbox]:indeterminate + label > .check {
  background-color: #444444;
}
.modern input[type=checkbox]:indeterminate:enabled + label:hover > .check {
  background-color: #444444;
}
.modern input[type=checkbox]:indeterminate:enabled:active + label > .check {
  background-color: #777777;
  border-color: #b7b7b7;
}
.modern select {
  border-color: #d0d0d0;
  background-color: #f0f0f0;
  color: #444444;
  background-image: linear-gradient(45deg, transparent 50%, #444444 50%, #444444 75%, transparent 75%), linear-gradient(135deg, transparent 25%, #444444 25%, #444444 50%, transparent 50%);
}
.modern select:enabled:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
}
.modern select:enabled option {
  background-color: #f0f0f0;
}
.modern fieldset {
  border-color: #d0d0d0;
}
.modern .segmented-radio-group label {
  background-color: #f0f0f0;
  border-color: #d0d0d0;
}
.modern .segmented-radio-group input:checked + label {
  background-color: #444444;
  color: #ffffff;
  border-color: #444444;
}
.modern .segmented-radio-group input:enabled + label:hover {
  background-color: #b7b7b7;
  border-color: #b7b7b7;
}
.modern .segmented-radio-group input:enabled:active + label {
  background-color: #777777;
  border-color: #777777;
}
.modern .tile {
  background-color: #444444;
  color: #ffffff;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

/*# sourceMappingURL=modern.css.map */
