.modern .dark, .modern.dark {
  background: #444444;
  color: #d0d0d0;
}
.modern .dark .tip, .modern.dark .tip {
  color: rgba(208, 208, 208, 0.7);
}
.modern .dark ::selection, .modern.dark ::selection {
  background-color: rgba(208, 208, 208, 0.997);
  color: #222222;
}
.modern .dark ul li::before, .modern.dark ul li::before {
  background-color: #d0d0d0;
}
.modern .dark a, .modern.dark a {
  color: #d0d0d0;
}
.modern .dark a:hover, .modern.dark a:hover {
  color: #6f6f6f;
}
.modern .dark a:active, .modern.dark a:active {
  color: #9d9d9d;
}
.modern .dark button,
.modern .dark input[type=button],
.modern .dark input[type=submit], .modern.dark button,
.modern.dark input[type=button],
.modern.dark input[type=submit] {
  background-color: #222222;
  color: #d0d0d0;
}
.modern .dark button:enabled:hover,
.modern .dark input[type=button]:enabled:hover,
.modern .dark input[type=submit]:enabled:hover, .modern.dark button:enabled:hover,
.modern.dark input[type=button]:enabled:hover,
.modern.dark input[type=submit]:enabled:hover {
  background-color: #6f6f6f;
}
.modern .dark button:enabled:active,
.modern .dark input[type=button]:enabled:active,
.modern .dark input[type=submit]:enabled:active, .modern.dark button:enabled:active,
.modern.dark input[type=button]:enabled:active,
.modern.dark input[type=submit]:enabled:active {
  background-color: #9d9d9d;
}
.modern .dark input[type=submit]:enabled, .modern.dark input[type=submit]:enabled {
  background-color: #d0d0d0;
  color: #222222;
}
.modern .dark input[type=text],
.modern .dark textarea, .modern.dark input[type=text],
.modern.dark textarea {
  background-color: inherit;
  color: inherit;
  border-color: #222222;
  caret-color: #d0d0d0;
}
.modern .dark input[type=checkbox] + label > .check,
.modern .dark input[type=radio] + label > .check, .modern.dark input[type=checkbox] + label > .check,
.modern.dark input[type=radio] + label > .check {
  background-color: inherit;
  border-color: #222222;
}
.modern .dark input[type=checkbox]:checked + label > .check,
.modern .dark input[type=radio]:checked + label > .check, .modern.dark input[type=checkbox]:checked + label > .check,
.modern.dark input[type=radio]:checked + label > .check {
  background-color: #d0d0d0;
}
.modern .dark input[type=checkbox]:enabled + label:hover > .check,
.modern .dark input[type=radio]:enabled + label:hover > .check, .modern.dark input[type=checkbox]:enabled + label:hover > .check,
.modern.dark input[type=radio]:enabled + label:hover > .check {
  background-color: #6f6f6f;
  border-color: #6f6f6f;
}
.modern .dark input[type=checkbox]:enabled:active + label > .check,
.modern .dark input[type=radio]:enabled:active + label > .check, .modern.dark input[type=checkbox]:enabled:active + label > .check,
.modern.dark input[type=radio]:enabled:active + label > .check {
  background-color: #9d9d9d;
  border-color: #9d9d9d;
}
.modern .dark input[type=checkbox]:enabled:checked + label:hover > .check,
.modern .dark input[type=radio]:enabled:checked + label:hover > .check, .modern.dark input[type=checkbox]:enabled:checked + label:hover > .check,
.modern.dark input[type=radio]:enabled:checked + label:hover > .check {
  background-color: #d0d0d0;
  border-color: #6f6f6f;
}
.modern .dark input[type=checkbox]:enabled:checked:active + label > .check,
.modern .dark input[type=radio]:enabled:checked:active + label > .check, .modern.dark input[type=checkbox]:enabled:checked:active + label > .check,
.modern.dark input[type=radio]:enabled:checked:active + label > .check {
  background-color: #9d9d9d;
}
.modern .dark input[type=checkbox]:indeterminate + label > .check, .modern.dark input[type=checkbox]:indeterminate + label > .check {
  background-color: #d0d0d0;
}
.modern .dark input[type=checkbox]:indeterminate:enabled + label:hover > .check, .modern.dark input[type=checkbox]:indeterminate:enabled + label:hover > .check {
  background-color: #d0d0d0;
}
.modern .dark input[type=checkbox]:indeterminate:enabled:active + label > .check, .modern.dark input[type=checkbox]:indeterminate:enabled:active + label > .check {
  background-color: #9d9d9d;
  border-color: #6f6f6f;
}
.modern .dark select, .modern.dark select {
  border-color: #222222;
  background-color: #444444;
  color: #d0d0d0;
  background-image: linear-gradient(45deg, transparent 50%, #d0d0d0 50%, #d0d0d0 75%, transparent 75%), linear-gradient(135deg, transparent 25%, #d0d0d0 25%, #d0d0d0 50%, transparent 50%);
}
.modern .dark select:enabled:hover, .modern.dark select:enabled:hover {
  border-color: #6f6f6f;
  background-color: #6f6f6f;
}
.modern .dark select:enabled option, .modern.dark select:enabled option {
  background-color: #444444;
}
.modern .dark fieldset, .modern.dark fieldset {
  border-color: #222222;
}
.modern .dark .segmented-radio-group label, .modern.dark .segmented-radio-group label {
  background-color: #444444;
  border-color: #222222;
}
.modern .dark .segmented-radio-group input:checked + label, .modern.dark .segmented-radio-group input:checked + label {
  background-color: #d0d0d0;
  color: #222222;
  border-color: #d0d0d0;
}
.modern .dark .segmented-radio-group input:enabled + label:hover, .modern.dark .segmented-radio-group input:enabled + label:hover {
  background-color: #6f6f6f;
  border-color: #6f6f6f;
}
.modern .dark .segmented-radio-group input:enabled:active + label, .modern.dark .segmented-radio-group input:enabled:active + label {
  background-color: #9d9d9d;
  border-color: #9d9d9d;
}
.modern .dark .tile, .modern.dark .tile {
  background-color: #d0d0d0;
  color: #222222;
}
.modern .dark.tile {
  background-color: #444444;
  color: #d0d0d0;
}

/*# sourceMappingURL=modern.dark.css.map */
