.modern {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #f0f0f0;
  color: #444444;
}
.modern * {
  transition-property: background-color, color, opacity, border;
  transition-timing-function: linear;
  transition-duration: 100ms;
}
.modern .tip {
  font-size: 80%;
  font-style: italic;
  opacity: 0.7;
}
.modern b {
  font-weight: 600;
}
.modern h1, .modern h2, .modern h3, .modern h4, .modern h5, .modern h6 {
  margin: 0 0 0.5em 0;
}
.modern h1, .modern .h1 {
  font-size: 350%;
  font-weight: 200;
}
.modern h2, .modern .h2 {
  font-size: 300%;
  font-weight: 300;
}
.modern h3, .modern .h3 {
  font-size: 250%;
  font-weight: 300;
}
.modern h4, .modern .h4 {
  font-size: 200%;
  font-weight: 300;
}
.modern h5, .modern .h5 {
  font-size: 150%;
  font-weight: 300;
}
.modern h6, .modern .h6 {
  font-size: 125%;
  font-weight: 300;
}
.modern ul, .modern ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
.modern ul {
  list-style: none;
}
.modern ul li {
  position: relative;
}
.modern ul li::before {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  top: 0.5em;
  left: -1em;
  transition-property: background-color;
  transition-timing-function: linear;
  transition-duration: 100ms;
}
.modern a {
  font-weight: 600;
}
.modern a:hover {
  outline: 0;
  transition-duration: 50ms;
}
.modern a:active {
  transition-duration: 0ms;
}
.modern button,
.modern input[type=button],
.modern input[type=submit] {
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.75em;
  padding: 0 1.5em;
  border: 0;
  margin: 0.125em 0;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  transition-timing-function: ease-out;
}
.modern button:enabled:hover,
.modern input[type=button]:enabled:hover,
.modern input[type=submit]:enabled:hover {
  transition-duration: 50ms;
}
.modern button:enabled:active,
.modern input[type=button]:enabled:active,
.modern input[type=submit]:enabled:active {
  transition-duration: 0ms;
}
.modern button:disabled,
.modern input[type=button]:disabled,
.modern input[type=submit]:disabled {
  opacity: 0.3;
}
.modern button.primary,
.modern input[type=button].primary,
.modern input[type=submit].primary {
  font-weight: 600;
}
.modern button.secondary,
.modern input[type=button].secondary,
.modern input[type=submit].secondary {
  border-width: 0.0625em;
  border-style: solid;
}
.modern input[type=text],
.modern textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.75em;
  padding: 0 0.5em;
  border: 0;
  margin: 0.125em 0;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.modern input[type=text]:disabled,
.modern textarea:disabled {
  opacity: 0.3;
}
.modern input[type=text]::placeholder,
.modern textarea::placeholder {
  font-style: italic;
  color: inherit;
  opacity: 0.7;
}
.modern input[type=text]:-moz-read-only,
.modern textarea:-moz-read-only {
  background-color: transparent;
}
.modern input[type=text]:read-only,
.modern textarea:read-only {
  background-color: transparent;
}
.modern input[type=checkbox],
.modern input[type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  opacity: 0;
  z-index: -1;
}
.modern input[type=checkbox] + label,
.modern input[type=radio] + label {
  cursor: pointer;
  margin: 0.125em 0;
}
.modern input[type=checkbox] + label > .check,
.modern input[type=radio] + label > .check {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.5em;
  border-style: solid;
  border-width: 0;
}
.modern input[type=checkbox] + label > .check.small,
.modern input[type=radio] + label > .check.small {
  width: 0.75em;
  height: 0.75em;
  top: 0;
}
.modern input[type=checkbox] + label > .check, .modern input[type=checkbox] + label > .check.medium,
.modern input[type=radio] + label > .check,
.modern input[type=radio] + label > .check.medium {
  width: 1em;
  height: 1em;
  top: 0.15em;
}
.modern input[type=checkbox] + label > .check.large,
.modern input[type=radio] + label > .check.large {
  width: 1.25em;
  height: 1.25em;
  top: 0.25em;
}
.modern input[type=checkbox]:checked + label > .check, .modern input[type=checkbox]:checked + label > .check.small, .modern input[type=checkbox]:checked + label > .check.medium,
.modern input[type=radio]:checked + label > .check,
.modern input[type=radio]:checked + label > .check.small,
.modern input[type=radio]:checked + label > .check.medium {
  border-width: 0.2em;
}
.modern input[type=checkbox]:checked + label > .check.large,
.modern input[type=radio]:checked + label > .check.large {
  border-width: 0.25em;
}
.modern input[type=checkbox]:enabled + label:hover > .check,
.modern input[type=radio]:enabled + label:hover > .check {
  transition-duration: 50ms;
}
.modern input[type=checkbox]:enabled:active + label > .check,
.modern input[type=radio]:enabled:active + label > .check {
  transition-duration: 0ms;
}
.modern input[type=checkbox]:disabled + label,
.modern input[type=radio]:disabled + label {
  opacity: 0.3;
}
.modern input[type=radio] + label > .check.small {
  border-radius: 0.375em;
}
.modern input[type=radio] + label > .check, .modern input[type=radio] + label > .check.medium {
  border-radius: 0.5em;
}
.modern input[type=radio] + label > .check.large {
  border-radius: 0.625em;
}
.modern .segmented-radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.modern .segmented-radio-group label {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.75em;
  padding: 0 1.5em;
}
.modern select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.75em;
  padding: 0 0.5em;
  padding-right: 2em;
  border-width: 0.0625em;
  border-style: solid;
  outline: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-position: calc(100% - 1em) 54%, calc(100% - 0.5em) 54%;
  background-size: 0.5em 0.5em, 0.5em 0.5em;
  background-repeat: no-repeat;
}
.modern select:disabled {
  opacity: 0.3;
}
.modern fieldset {
  border-width: 0.0625em;
  margin: 0;
  padding: 0.5em 1em;
}
.modern fieldset legend {
  padding: 0 0.5em;
  font-size: 120%;
  font-weight: 300;
}
.modern ul li::before {
  background-color: #444444;
}
.modern a {
  color: #444444;
}
.modern a:hover {
  color: #919191;
}
.modern a:active {
  color: #c4c4c4;
}
.modern button,
.modern input[type=button],
.modern input[type=submit] {
  background-color: #d0d0d0;
  color: inherit;
}
.modern button:enabled:hover,
.modern input[type=button]:enabled:hover,
.modern input[type=submit]:enabled:hover {
  background-color: #b7b7b7;
}
.modern button:enabled:active,
.modern input[type=button]:enabled:active,
.modern input[type=submit]:enabled:active {
  background-color: #848484;
}
.modern button.primary:enabled,
.modern input[type=button].primary:enabled,
.modern input[type=submit].primary:enabled {
  background-color: #444444;
  color: #ffffff;
}
.modern button.primary:enabled:hover,
.modern input[type=button].primary:enabled:hover,
.modern input[type=submit].primary:enabled:hover {
  background-color: #919191;
}
.modern button.primary:enabled:active,
.modern input[type=button].primary:enabled:active,
.modern input[type=submit].primary:enabled:active {
  background-color: #c4c4c4;
}
.modern button.secondary,
.modern input[type=button].secondary,
.modern input[type=submit].secondary {
  border-color: #444444;
  background-color: #f0f0f0;
}
.modern input[type=text],
.modern textarea {
  background-color: #d0d0d0;
  color: inherit;
}
.modern input[type=checkbox] + label > .check,
.modern input[type=radio] + label > .check {
  border-color: #d0d0d0;
  background-color: #d0d0d0;
}
.modern input[type=checkbox]:checked + label > .check,
.modern input[type=radio]:checked + label > .check {
  background-color: #444444;
}
.modern input[type=checkbox]:enabled:not(:checked) + label:hover > .check,
.modern input[type=radio]:enabled:not(:checked) + label:hover > .check {
  background-color: #b7b7b7;
}
.modern input[type=checkbox]:enabled:not(:checked):active + label > .check,
.modern input[type=radio]:enabled:not(:checked):active + label > .check {
  background-color: #5e5e5e;
}
.modern input[type=checkbox]:enabled:checked + label:hover > .check,
.modern input[type=radio]:enabled:checked + label:hover > .check {
  border-color: #b7b7b7;
}
.modern input[type=checkbox]:enabled:checked:active + label > .check,
.modern input[type=radio]:enabled:checked:active + label > .check {
  background-color: #777777;
}
.modern select {
  border-color: #d0d0d0;
  background-color: #f0f0f0;
  color: #444444;
  background-image: linear-gradient(45deg, transparent 50%, #444444 50%, #444444 75%, transparent 75%), linear-gradient(135deg, transparent 25%, #444444 25%, #444444 50%, transparent 50%);
}
.modern select:enabled:hover {
  background-color: #d0d0d0;
}
.modern select:enabled option {
  background-color: #f0f0f0;
}
.modern fieldset {
  border-color: #d0d0d0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

/*# sourceMappingURL=modern.css.map */
