@import "modern.colors";

$fade-in: 50ms;
$fade-out: 100ms;
$disabled-opacity: 0.3;

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modern {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;

  .tip {
    font-size: 80%;
    font-style: italic;
    opacity: 0.5;
  }

  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .block {
    display: block;
  }

  .inline {
    display: inline;
  }

  .inline-block {
    display: inline-block;
  }

  b {
    font-weight: 600;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
  }

  h1, .h1 {
    font-size: 350%;
    font-weight: 200;
  }

  h2, .h2 {
    font-size: 300%;
    font-weight: 300;
  }

  h3, .h3 {
    font-size: 250%;
    font-weight: 300;
  }

  h4, .h4 {
    font-size: 200%;
    font-weight: 300;
  }

  h5, .h5 {
    font-size: 150%;
    font-weight: 300;
  }

  h6, .h6 {
    font-size: 125%;
    font-weight: 300;
  }

  ul {
    margin: 1em 0;
    padding: 0 0 0 2em;
  }

  a {
    transition-property: color;
    transition-duration: $fade-out;
    transition-timing-function: linear;

    &:hover,
    &:focus {
      outline: 0;
      transition-duration: $fade-in;
    }

    &:active {
      transition-duration: 0ms;
    }
  }

  *::-moz-focus-inner {
    border: 0;
  }

  button,
  input[type="button"],
  input[type="submit"] {
    @mixin padding-with-border($border) {
      border-width: $border;
      padding: 3px - $border 15px - $border;
    }

    @include padding-with-border(0);
    outline: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    transition-property: background-color, color, opacity;
    transition-duration: $fade-out;
    transition-timing-function: linear;

    &:disabled {
      opacity: $disabled-opacity;
    }

    &.primary {
      font-weight: 600;
    }

    &:enabled:hover,
    &:enabled:focus {
      transition-duration: $fade-in;
    }

    &:enabled:active {
      transition-duration: 0ms;
    }

    &.secondary {
      @include padding-with-border(1px);
      border-style: solid;
    }
  }

  input:-moz-read-only,
  input:read-only {
    background-color: transparent;
  }

  input[type="text"],
  textarea {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 3px 5px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    transition-property: background-color, color, opacity;
    transition-duration: $fade-out;
    transition-timing-function: linear;

    &:disabled {
      opacity: $disabled-opacity;
    }

    &::placeholder {
      font-style: italic;
      color: inherit;
      opacity: 0.7;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: none;

    & + label > .check {
      display: inline-block;
      position: relative;
      @include border-box();
      margin: 0 5px;
      transition-property: background-color, border, opacity;
      transition-duration: $fade-out;
      transition-timing-function: linear;
    }

    & + label > .check.small {
      width: 12px;
      height: 12px;
      top: 1px;
    }

    & + label > .check,
    & + label > .check.medium {
      width: 16px;
      height: 16px;
      top: 2px;
    }

    & + label > .check.large {
      width: 20px;
      height: 20px;
      top: 4px;
    }

    &:disabled + label {
      opacity: $disabled-opacity;
    }

    & + label > .check {
      border-style: solid;
      border-width: 0;
    }

    &:checked + label > .check {
      border-width: 3px;
    }

    &:enabled + label:hover > .check,
    &:enabled:checked + label:hover > .check {
      transition-duration: $fade-in;
    }

    &:enabled:active + label > .check,
    &:enabled:checked:active + label > .check {
      transition-duration: 0ms;
    }
  }

  input[type="radio"] {
    & + label > .check.small {
      border-radius: 6px;
    }

    & + label > .check,
    & + label > .check.medium {
      border-radius: 8px;
    }

    & + label > .check.large {
      border-radius: 10px;
    }
  }

  select {
    outline: 0;
    padding: 1px 2px;
    border-width: 1px;
    border-style: solid;
    font-family: inherit;
    font-size: inherit;

    &:disabled {
      opacity: $disabled-opacity;
    }
  }

  &, & .light, &.light {
    @include modern-colors();
  }
}
