.modern.dark,
.modern .dark {
  border-color: #d0d0d0;
  background: #444444;
  color: #d0d0d0;
}
.modern.dark a,
.modern .dark a {
  color: #909090;
}
.modern.dark a:hover,
.modern .dark a:hover,
.modern.dark a:focus,
.modern .dark a:focus {
  color: #6a6a6a;
  outline: 0;
}
.modern.dark a:active,
.modern .dark a:active {
  color: #c3c3c3;
}
.modern.dark button,
.modern .dark button,
.modern.dark input[type="button"],
.modern .dark input[type="button"],
.modern.dark input[type="submit"],
.modern .dark input[type="submit"] {
  background-color: #222222;
}
.modern.dark button:enabled:hover,
.modern .dark button:enabled:hover,
.modern.dark input[type="button"]:enabled:hover,
.modern .dark input[type="button"]:enabled:hover,
.modern.dark input[type="submit"]:enabled:hover,
.modern .dark input[type="submit"]:enabled:hover,
.modern.dark button:enabled:focus,
.modern .dark button:enabled:focus,
.modern.dark input[type="button"]:enabled:focus,
.modern .dark input[type="button"]:enabled:focus,
.modern.dark input[type="submit"]:enabled:focus,
.modern .dark input[type="submit"]:enabled:focus {
  background-color: #555555;
}
.modern.dark button:enabled:active,
.modern .dark button:enabled:active,
.modern.dark input[type="button"]:enabled:active,
.modern .dark input[type="button"]:enabled:active,
.modern.dark input[type="submit"]:enabled:active,
.modern .dark input[type="submit"]:enabled:active {
  background-color: #2f2f2f;
}
.modern.dark button.action:enabled,
.modern .dark button.action:enabled,
.modern.dark input[type="button"].action:enabled,
.modern .dark input[type="button"].action:enabled,
.modern.dark input[type="submit"].action:enabled,
.modern .dark input[type="submit"].action:enabled {
  background-color: #d0d0d0;
  color: #222222;
}
.modern.dark button.action:enabled:hover,
.modern .dark button.action:enabled:hover,
.modern.dark input[type="button"].action:enabled:hover,
.modern .dark input[type="button"].action:enabled:hover,
.modern.dark input[type="submit"].action:enabled:hover,
.modern .dark input[type="submit"].action:enabled:hover,
.modern.dark button.action:enabled:focus,
.modern .dark button.action:enabled:focus,
.modern.dark input[type="button"].action:enabled:focus,
.modern .dark input[type="button"].action:enabled:focus,
.modern.dark input[type="submit"].action:enabled:focus,
.modern .dark input[type="submit"].action:enabled:focus {
  background-color: #aaaaaa;
}
.modern.dark button.action:enabled:active,
.modern .dark button.action:enabled:active,
.modern.dark input[type="button"].action:enabled:active,
.modern .dark input[type="button"].action:enabled:active,
.modern.dark input[type="submit"].action:enabled:active,
.modern .dark input[type="submit"].action:enabled:active {
  background-color: #6a6a6a;
}
.modern.dark input[type="text"],
.modern .dark input[type="text"],
.modern.dark textarea,
.modern .dark textarea {
  background-color: #222222;
  color: inherit;
}
.modern.dark input[type="text"]::-moz-placeholder,
.modern .dark input[type="text"]::-moz-placeholder,
.modern.dark textarea::-moz-placeholder,
.modern .dark textarea::-moz-placeholder {
  color: #6a6a6a;
}
.modern.dark input[type="text"]:-ms-input-placeholder,
.modern .dark input[type="text"]:-ms-input-placeholder,
.modern.dark textarea:-ms-input-placeholder,
.modern .dark textarea:-ms-input-placeholder {
  color: #6a6a6a;
}
.modern.dark input[type="text"]::-webkit-input-placeholder,
.modern .dark input[type="text"]::-webkit-input-placeholder,
.modern.dark textarea::-webkit-input-placeholder,
.modern .dark textarea::-webkit-input-placeholder {
  color: #6a6a6a;
}
.modern.dark input[type="checkbox"] + label > .check,
.modern .dark input[type="checkbox"] + label > .check,
.modern.dark input[type="radio"] + label > .check,
.modern .dark input[type="radio"] + label > .check {
  border-style: solid;
  border-color: #222222;
  background-color: #222222;
}
.modern.dark input[type="checkbox"]:checked + label > .check,
.modern .dark input[type="checkbox"]:checked + label > .check,
.modern.dark input[type="radio"]:checked + label > .check,
.modern .dark input[type="radio"]:checked + label > .check {
  background-color: #d0d0d0;
}
.modern.dark input[type="checkbox"]:enabled + label:hover > .check,
.modern .dark input[type="checkbox"]:enabled + label:hover > .check,
.modern.dark input[type="radio"]:enabled + label:hover > .check,
.modern .dark input[type="radio"]:enabled + label:hover > .check {
  background-color: #555555;
}
.modern.dark input[type="checkbox"]:enabled:active + label > .check,
.modern .dark input[type="checkbox"]:enabled:active + label > .check,
.modern.dark input[type="radio"]:enabled:active + label > .check,
.modern .dark input[type="radio"]:enabled:active + label > .check {
  background-color: #aaaaaa;
}
.modern.dark input[type="checkbox"]:enabled:checked + label:hover > .check,
.modern .dark input[type="checkbox"]:enabled:checked + label:hover > .check,
.modern.dark input[type="radio"]:enabled:checked + label:hover > .check,
.modern .dark input[type="radio"]:enabled:checked + label:hover > .check {
  background-color: #aaaaaa;
}
.modern.dark input[type="checkbox"]:enabled:checked:active + label > .check,
.modern .dark input[type="checkbox"]:enabled:checked:active + label > .check,
.modern.dark input[type="radio"]:enabled:checked:active + label > .check,
.modern .dark input[type="radio"]:enabled:checked:active + label > .check {
  background-color: #555555;
}
.modern.dark select,
.modern .dark select {
  border-color: #222222;
  background-color: #444444;
  color: #d0d0d0;
}
