$primary: #f0f0f0 !default;
$primary-alt: #d0d0d0 !default;
$secondary: #444444 !default;
$on-primary: $secondary !default;
$on-secondary: #ffffff !default;

@mixin modern-colors {
  background: $primary;
  color: $on-primary;

  ul li::before {
    background-color: $on-primary;
  }

  a {
    color: lighten($on-primary, 30%);

    &:hover,
    &:focus {
      color: lighten($on-primary, 50%);
    }

    &:active {
      color: lighten($on-primary, 20%);
    }
  }
    
  button,
  input[type="button"],
  input[type="submit"] {
    background-color: $primary-alt;
    color: inherit;

    &:enabled {
      &:hover,
      &:focus {
        background-color: darken($primary-alt, 10%);
      }
  
      &:active {
        background-color: darken($primary-alt, 30%);
      }
    }

    &.primary:enabled {
      background-color: $secondary;
      color: $on-secondary;

      &:hover,
      &:focus {
        background-color: lighten($secondary, 15%);
      }

      &:active {
        background-color: lighten($secondary, 40%);
      }
    }

    &.secondary {
      border-color: $on-primary;
      background-color: $primary;
    }
  }

  input[type="text"],
  textarea {
    background-color: $primary-alt;
    color: inherit;
  }

  input[type="checkbox"],
  input[type="radio"] {
    & + label > .check {
      border-color: $primary-alt;
      background-color: $primary-alt;
    }

    &:checked + label > .check {
      background-color: $secondary;
    }

    &:enabled {
      & + label:hover > .check {
        background-color: darken($primary-alt, 10%);
      }
  
      &:active + label > .check {
        background-color: darken($primary-alt, 30%);
      }
  
      &:checked + label:hover > .check {
        background-color: lighten($secondary, 15%);
      }
  
      &:checked:active + label > .check {
        background-color: lighten($secondary, 40%);
      }
    }
  }
    
  select {
    border-color: $primary-alt;
    background-color: $primary;
    color: $on-primary;
    background-image:
      linear-gradient(45deg, transparent 50%, $on-primary 50%, $on-primary 75%, transparent 75%),
      linear-gradient(135deg, transparent 25%, $on-primary 25%, $on-primary 50%, transparent 50%);
    
    &:enabled {
      &:hover {
        background-color: $primary-alt;
      }

      option {
        background-color: $primary;
      }
    }
  }

  fieldset {
    border-color: $primary-alt;
  }
}