@import "macros";

$class: "default" !default;
$primary: #f0f0f0 !default;
$primary-alt: #d0d0d0 !default;
$secondary: #444444 !default;
$on-primary: $secondary !default;
$on-secondary: #ffffff !default;
$hover: darken($primary-alt, 10%) !default;
$hover-secondary: lighten($secondary, 10%) !default;
$active: lighten($secondary, 20%) !default;

@mixin chevron-down($color) {
  background-image:
    linear-gradient(45deg, transparent 50%, $color 50%, $color 75%, transparent 75%),
    linear-gradient(135deg, transparent 25%, $color 25%, $color 50%, transparent 50%);
}

@mixin wrap-class {
  @if $class != "default" {
    #{$class}, &#{$class} {
      @content;
    }
  }
  @else {
    @content;
  }
}

@mixin with-class($selector) {
  @at-root .modern #{selector-unify($selector, $class)} {
    @content;
  }
}

@mixin primary-colors {
  background: $primary;
  color: $on-primary;
  border-color: $primary;
}

@mixin secondary-colors {
  background-color: $secondary;
  color: $on-secondary;
  border-color: $secondary;
}

@mixin modern-colors {
  .modern {
    @include wrap-class {
      @include primary-colors;
      
      .tip {
        color: rgba($on-primary, 0.7);
      }
    
      ::selection {
        background-color: rgba($secondary, 0.997);
        color: $on-secondary;
      }
      
      a {
        color: $secondary;
    
        &:hover {
          color: $hover;
        }
    
        &:active {
          color: $active;
        }
      }

      input,
      textarea,
      select,
      button[type=reset] {
        background-color: inherit;
        color: inherit;
        border-color: $primary-alt;
        caret-color: $secondary;
      }
        
      button,
      input[type=button],
      input[type=submit] {
        background-color: $primary-alt;
        color: $on-primary;
      }
        
      button,
      input[type=button],
      input[type=submit],
      input[type=reset] {
        &:enabled {
          &:hover {
            background-color: $hover;
            border-color: $hover;
          }
      
          &:active {
            background-color: $active;
          }
        }
      }
    
      input[type=submit]:enabled {
        @include secondary-colors;
    
        &:hover {
          background-color: $hover-secondary;
        }

        &:active {
          background-color: $active;
        }

        &:focus {
          outline-color: $secondary;
        }
      }

      input[type=range] {
        @include range-track {
          border-color: $primary-alt;
        }

        @include range-thumb {
          background-color: $secondary;
        }
      }
    
      input[type=checkbox],
      input[type=radio] {
        & + label > .check {
          background-color: inherit;
          border-color: $primary-alt;
        }
    
        &:checked + label > .check {
          background-color: $secondary;
        }
    
        &:enabled {
          & + label:hover > .check {
            background-color: $hover;
            border-color: $hover;
          }
      
          &:active + label > .check {
            background-color: $active;
            border-color: $active;
          }
      
          &:checked {
            & + label:hover > .check {
              background-color: $secondary;
              border-color: $hover;
            }
            &:active + label > .check {
              background-color: $active;
            }
          }
        }
      }
    
      input[type=checkbox]:indeterminate {
        &  + label > .check {
          background-color: $secondary;
        }
        
        &:enabled {
          & + label:hover > .check {
            background-color: $secondary;
          }
    
          &:active + label > .check {
            background-color: $active;
            border-color: $hover;
          }
        }
      }
        
      select {
        @include chevron-down($on-primary);
        
        &:enabled {
          &:hover {
            border-color: $hover;
            background-color: $hover;
          }
    
          option {
            background-color: $primary;
          }
        }
      }
    
      fieldset {
        border-color: $primary-alt;
      }

      table {
        th {
          border-color: $on-primary;
        }

        td {
          border-color: $primary-alt;
        }
      }
    
      .segmented-radio-group {
        label {
          background-color: $primary;
          border-color: $primary-alt;
        }
    
        input {
          &:checked + label {
            @include secondary-colors;
          }
    
          &:enabled {
            & + label:hover {
              background-color: $hover;
              border-color: $hover;
            }
        
            &:active + label {
              background-color: $active;
              border-color: $active;
            }
    
            &:focus + label {
              outline-color: $secondary;
            }
          }
        }
      }

      .secondary,
      .tile {
        @include secondary-colors;
      }
     
      @include with-class(".tile") {
        @include primary-colors();
      }
    }
  }
}