$primary: #f0f0f0 !default;
$primary-alt: #d0d0d0 !default;
$secondary: #444444 !default;
$on-primary: $secondary !default;
$on-secondary: #ffffff !default;

@mixin chevron-down($color) {
  background-image:
    linear-gradient(45deg, transparent 50%, $color 50%, $color 75%, transparent 75%),
    linear-gradient(135deg, transparent 25%, $color 25%, $color 50%, transparent 50%);
}

@mixin modern-colors {
  background: $primary;
  color: $on-primary;

  ul li::before {
    background-color: $on-primary;
  }

  a {
    color: $secondary;

    &:hover {
      color: lighten($secondary, 30%);
    }

    &:active {
      color: lighten($secondary, 50%);
    }
  }
    
  button,
  input[type="button"],
  input[type="submit"] {
    background-color: $primary-alt;
    color: inherit;

    &:enabled {
      &:hover {
        background-color: darken($primary-alt, 10%);
      }
  
      &:active {
        background-color: darken($primary-alt, 30%);
      }
    }

    &.primary:enabled {
      background-color: $secondary;
      color: $on-secondary;

      &:hover {
        background-color: lighten($secondary, 30%);
      }

      &:active {
        background-color: lighten($secondary, 50%);
      }
    }

    &.secondary {
      border-color: $on-primary;
      background-color: $primary;
    }
  }

  input[type="text"],
  textarea {
    background-color: $primary-alt;
    color: inherit;
  }

  input[type="checkbox"],
  input[type="radio"] {
    & + label > .check {
      border-color: $primary-alt;
      background-color: $primary-alt;
    }

    &:checked + label > .check {
      background-color: $secondary;
    }

    &:enabled {
      &:not(:checked) {
        & + label:hover > .check {
          background-color: darken($primary-alt, 10%);
        }
    
        &:active + label > .check {
          background-color: lighten($secondary, 10%);
        }
      } 
  
      &:checked {
        & + label:hover > .check {
          border-color: darken($primary-alt, 10%);
        }
  
        &:active + label > .check {
          background-color: lighten($secondary, 20%);
        }
      }
    }
  }
    
  select {
    border-color: $primary-alt;
    background-color: $primary;
    color: $on-primary;
    @include chevron-down($on-primary);
    
    &:enabled {
      &:hover {
        background-color: $primary-alt;
      }

      option {
        background-color: $primary;
      }
    }
  }

  fieldset {
    border-color: $primary-alt;
  }

  .segmented-radio-group {
    label {
      background-color: $primary;
      border-color: $primary-alt;
    }

    input {
      &:checked + label {
        background-color: $secondary;
        color: $on-secondary;
      }

      &:enabled {
        &:not(:checked) {
          & + label:hover {
            background-color: darken($primary-alt, 10%);
          }
      
          &:active + label {
            background-color: darken($primary-alt, 30%);
          }
        } 
    
        &:checked {
          & + label:hover {
            background-color: lighten($secondary, 30%);
          }
    
          &:active + label {
            background-color: lighten($secondary, 50%);
          }
        }
      }
    }
  }
}