$fade-in: 50ms;
$fade-out: 100ms;
$disabled-opacity: 0.5;
$control-height: 1.75em;
$control-border: 0.0625em;
$control-margin: 0.125em;
$textbox-padding: 0.5em;
$button-padding: 1.5em;
$outline-weight: 2;

@mixin control-pointer {
  cursor: pointer;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border {
  border-width: $control-border;
  border-style: solid;
}

@mixin control-size($padding-x) {
  @include border-box;
  height: $control-height;
  padding: 0 $padding-x;
}

@mixin outline($weight) {
  outline: $control-border * $weight solid;
}

@mixin outline-outer {
  @include outline($outline-weight);
  outline-offset: $control-border;
}

@mixin outline-inner {
  @include outline-outer;
  outline-offset: $control-border * -$outline-weight;
}

@mixin active-transform() {
  transform: scale(0.98);
}

// to hide input controls while still allowing tab focus
@mixin invisible {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  outline: 0 !important;
  opacity: 0 !important;
  z-index: -1 !important;
}

@mixin standard-transition($props...) {
  transition-property: $props;
  transition-timing-function: ease-out;
  transition-duration: $fade-out;
}
