$primary: #444444 !default;
$primary-alt: #222222 !default;
$secondary: #d0d0d0 !default;
$on-secondary: $primary-alt !default;

@import "colors";

.modern.dark,
.modern .dark {
  @include modern-colors;

  a {
    &:hover,
    &:focus {
      color: darken($secondary, 15%);
    }

    &:active {
      color: darken($secondary, 40%);
    }
  }

  button,
  input[type="button"],
  input[type="submit"] {
    &:enabled {
      &:hover,
      &:focus {
        background-color: lighten($primary, 10%);
      }
  
      &:active {
        background-color: lighten($primary, 20%);
      }
    }

    &.primary:enabled {
      &:hover,
      &:focus {
        background-color: darken($secondary, 15%);
      }

      &:active {
        background-color: darken($secondary, 40%);
      }
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    &:enabled {
      &:not(:checked) {
        & + label:hover > .check {
          background-color: lighten($primary-alt, 10%);
        }
    
        &:active + label > .check {
          background-color: darken($secondary, 20%);
        }
      } 
  
      &:checked {
        & + label:hover > .check {
          border-color: lighten($primary-alt, 10%);
        }
  
        &:active + label > .check {
          background-color: darken($secondary, 20%);
        }
      }
    }
  }
}
