$class: ".dark";
$primary: #444444 !default;
$primary-alt: #222222 !default;
$secondary: #d0d0d0 !default;
$on-secondary: $primary-alt !default;
$hover: lighten($primary-alt, 30%) !default;
$active: darken($secondary, 20%) !default;

@import "colors";

@include modern-colors;

@include with-class("button.tile:enabled") {
   &:hover {
     background-color: lighten($primary, 5%);
   }
}