$primary: #444444 !default;
$primary-alt: #222222 !default;
$secondary: #d0d0d0 !default;
$on-secondary: $primary-alt !default;
$hover: lighten($primary-alt, 30%) !default;
$active: darken($secondary, 20%) !default;

@import "colors";

.modern {
  .dark,
  &.dark {
    @include modern-colors;
  }

  .dark.tile {
    background-color: $primary;
    color: $on-primary;
  }
}