@import "defs";
@import "macros";
@import "classes";
@import "colors";

@include general-classes;

.modern {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  
  & * {
    @include standard-transition(background-color, color, opacity, border, transform);
  }

  b {
    font-weight: 600;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
  }

  h1, .h1 {
    font-size: 3.5em;
    font-weight: 200;
  }

  h2, .h2 {
    font-size: 3em;
    font-weight: 300;
  }

  h3, .h3 {
    font-size: 2.5em;
    font-weight: 300;
  }

  h4, .h4 {
    font-size: 2em;
    font-weight: 300;
  }

  h5, .h5 {
    font-size: 1.5em;
    font-weight: 300;
  }

  h6, .h6 {
    font-size: 1.25em;
    font-weight: 300;
  }

  ul, ol {
    margin: 1em 0;
    padding: 0 0 0 2em;
  }

  ul {
    list-style: square;
  }

  :enabled {
    &:hover {
      transition-duration: $fade-in;
    }

    &:active {
      transition-duration: 0ms;
    }

    &:focus {
      @include outline-outer;
      
      &.no-outline {
        outline: 0;
      }
    }
  }

  a {
    font-weight: 600;
  }

  label {
    white-space: nowrap;
  }

  button,
  input,
  textarea,
  select {
    margin: $control-margin 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    
    &:disabled {
      opacity: $disabled-opacity;
    }
  }

  input,
  textarea,
  select,
  input[type=reset] {
    @include control-size($textbox-padding);
    @include border;

    &::placeholder {
      font-style: italic;
      color: inherit;
      opacity: 0.7;
    }

    @include read-only {
      background-color: transparent;
    }
  }
  
  button,
  input[type=button],
  input[type=submit],
  input[type=reset] {
    @include control-size($button-padding);
    
    &:enabled {
      @include control-pointer;

      &:active {
        @include active-transform;
      }
    }
  }

  button, input {
    &[type=button],
    &[type=submit] {
      border: 0;
      font-weight: 600;
    }
  }

  input[type=range] {
    vertical-align: top;
    border: 0;

    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent;
    
    @include range-track {
      @include border-box;
      height: 0.25em;
      @include border;
      @include control-pointer;
    }

    @include range-thumb {
      @include border-box;
      width: 0.75em;
      height: $control-height;
      border-radius: 0;
      border: 0;
      @include control-pointer;
    }
    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -$control-height / 2 + $control-border;
    }
  }

  input[type=checkbox],
  input[type=radio] {
    @include invisible;

    & + label {
      margin: $control-margin 0;

      & > .check {
        display: inline-block;
        position: relative;
        @include border-box;
        margin: 0 0.5em;
        @include border;

        &.small {
          width: 0.75em;
          height: 0.75em;
          top: 0;
        }
    
        &, &.medium {
          width: 1em;
          height: 1em;
          top: 0.15em;
        }
    
        &.large {
          width: 1.25em;
          height: 1.25em;
          top: 0.25em;
        }
      }
    }
    
    &:checked + label > .check {
      border-width: 0.2em;
  
      &.large {
        border-width: 0.25em;
      }
    }

    &:enabled {
      & + label > .check {
        @include control-pointer;
      }

      & + label:hover > .check {
        transition-duration: $fade-in;
      }
  
      &:active + label > .check {
        transition-duration: 0ms;
      }

      &:focus + label > .check {
        @include outline-outer;
        
        &.no-outline {
          outline: 0;
        }
      }
    }

    &:disabled + label {
      opacity: $disabled-opacity;
    }
  }

  input[type=checkbox] {
    &:indeterminate + label > .check {
      &.small {
        border-width: 0.3em $control-border;
      }

      &, &.medium {
        border-width: 0.4em $control-border;
      }

      &.large {
        border-width: 0.5em $control-border;
      }
    }
  }

  input[type=radio] {
    & + label {
      & > .check.small {
        border-radius: 0.375em;
      }
  
      & > .check,
      & > .check.medium {
        border-radius: 0.5em;
      }
  
      & > .check.large {
        border-radius: 0.625em;
      }
    }
  }

  select {
    padding-right: 2em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-position:
      calc(100% - 1em) 54%,
      calc(100% - 0.5em) 54%;
    background-size:
      0.5em 0.5em,
      0.5em 0.5em;
    background-repeat: no-repeat;
  }

  fieldset {
    border-width: $control-border;
    margin: 0;
    padding: 0.5em 1em;

    legend {
      position: relative;
      bottom: 0.125em;
      padding: 0 0.5em;
      font-size: 120%;
      font-weight: 300;
    }
  }

  @include modern-classes;
}

@include modern-colors;