.modern.dark,
.modern .dark {
  background: #444444;
  color: #d0d0d0;
}
.modern.dark ul li::before,
.modern .dark ul li::before {
  background-color: #d0d0d0;
}
.modern.dark a,
.modern .dark a {
  color: white;
}
.modern.dark a:hover, .modern.dark a:focus,
.modern .dark a:hover,
.modern .dark a:focus {
  color: white;
}
.modern.dark a:active,
.modern .dark a:active {
  color: white;
}
.modern.dark button,
.modern.dark input[type=button],
.modern.dark input[type=submit],
.modern .dark button,
.modern .dark input[type=button],
.modern .dark input[type=submit] {
  background-color: #222222;
  color: inherit;
}
.modern.dark button:enabled:hover, .modern.dark button:enabled:focus,
.modern.dark input[type=button]:enabled:hover,
.modern.dark input[type=button]:enabled:focus,
.modern.dark input[type=submit]:enabled:hover,
.modern.dark input[type=submit]:enabled:focus,
.modern .dark button:enabled:hover,
.modern .dark button:enabled:focus,
.modern .dark input[type=button]:enabled:hover,
.modern .dark input[type=button]:enabled:focus,
.modern .dark input[type=submit]:enabled:hover,
.modern .dark input[type=submit]:enabled:focus {
  background-color: #090909;
}
.modern.dark button:enabled:active,
.modern.dark input[type=button]:enabled:active,
.modern.dark input[type=submit]:enabled:active,
.modern .dark button:enabled:active,
.modern .dark input[type=button]:enabled:active,
.modern .dark input[type=submit]:enabled:active {
  background-color: black;
}
.modern.dark button.primary:enabled,
.modern.dark input[type=button].primary:enabled,
.modern.dark input[type=submit].primary:enabled,
.modern .dark button.primary:enabled,
.modern .dark input[type=button].primary:enabled,
.modern .dark input[type=submit].primary:enabled {
  background-color: #d0d0d0;
  color: #222222;
}
.modern.dark button.primary:enabled:hover, .modern.dark button.primary:enabled:focus,
.modern.dark input[type=button].primary:enabled:hover,
.modern.dark input[type=button].primary:enabled:focus,
.modern.dark input[type=submit].primary:enabled:hover,
.modern.dark input[type=submit].primary:enabled:focus,
.modern .dark button.primary:enabled:hover,
.modern .dark button.primary:enabled:focus,
.modern .dark input[type=button].primary:enabled:hover,
.modern .dark input[type=button].primary:enabled:focus,
.modern .dark input[type=submit].primary:enabled:hover,
.modern .dark input[type=submit].primary:enabled:focus {
  background-color: #f6f6f6;
}
.modern.dark button.primary:enabled:active,
.modern.dark input[type=button].primary:enabled:active,
.modern.dark input[type=submit].primary:enabled:active,
.modern .dark button.primary:enabled:active,
.modern .dark input[type=button].primary:enabled:active,
.modern .dark input[type=submit].primary:enabled:active {
  background-color: white;
}
.modern.dark button.secondary,
.modern.dark input[type=button].secondary,
.modern.dark input[type=submit].secondary,
.modern .dark button.secondary,
.modern .dark input[type=button].secondary,
.modern .dark input[type=submit].secondary {
  border-color: #d0d0d0;
  background-color: #444444;
}
.modern.dark input[type=text],
.modern.dark textarea,
.modern .dark input[type=text],
.modern .dark textarea {
  background-color: #222222;
  color: inherit;
}
.modern.dark input[type=checkbox] + label > .check,
.modern.dark input[type=radio] + label > .check,
.modern .dark input[type=checkbox] + label > .check,
.modern .dark input[type=radio] + label > .check {
  border-color: #222222;
  background-color: #222222;
}
.modern.dark input[type=checkbox]:checked + label > .check,
.modern.dark input[type=radio]:checked + label > .check,
.modern .dark input[type=checkbox]:checked + label > .check,
.modern .dark input[type=radio]:checked + label > .check {
  background-color: #d0d0d0;
}
.modern.dark input[type=checkbox]:enabled + label:hover > .check,
.modern.dark input[type=radio]:enabled + label:hover > .check,
.modern .dark input[type=checkbox]:enabled + label:hover > .check,
.modern .dark input[type=radio]:enabled + label:hover > .check {
  background-color: #090909;
}
.modern.dark input[type=checkbox]:enabled:active + label > .check,
.modern.dark input[type=radio]:enabled:active + label > .check,
.modern .dark input[type=checkbox]:enabled:active + label > .check,
.modern .dark input[type=radio]:enabled:active + label > .check {
  background-color: black;
}
.modern.dark input[type=checkbox]:enabled:checked + label:hover > .check,
.modern.dark input[type=radio]:enabled:checked + label:hover > .check,
.modern .dark input[type=checkbox]:enabled:checked + label:hover > .check,
.modern .dark input[type=radio]:enabled:checked + label:hover > .check {
  background-color: #f6f6f6;
}
.modern.dark input[type=checkbox]:enabled:checked:active + label > .check,
.modern.dark input[type=radio]:enabled:checked:active + label > .check,
.modern .dark input[type=checkbox]:enabled:checked:active + label > .check,
.modern .dark input[type=radio]:enabled:checked:active + label > .check {
  background-color: white;
}
.modern.dark select,
.modern .dark select {
  border-color: #222222;
  background-color: #444444;
  color: #d0d0d0;
  background-image: linear-gradient(45deg, transparent 50%, #d0d0d0 50%, #d0d0d0 75%, transparent 75%), linear-gradient(135deg, transparent 25%, #d0d0d0 25%, #d0d0d0 50%, transparent 50%);
}
.modern.dark select:enabled:hover,
.modern .dark select:enabled:hover {
  background-color: #222222;
}
.modern.dark select:enabled option,
.modern .dark select:enabled option {
  background-color: #444444;
}
.modern.dark a,
.modern .dark a {
  color: #909090;
}
.modern.dark a:hover, .modern.dark a:focus,
.modern .dark a:hover,
.modern .dark a:focus {
  color: #6a6a6a;
}
.modern.dark a:active,
.modern .dark a:active {
  color: #c3c3c3;
}
.modern.dark button:enabled:hover, .modern.dark button:enabled:focus,
.modern.dark input[type=button]:enabled:hover,
.modern.dark input[type=button]:enabled:focus,
.modern.dark input[type=submit]:enabled:hover,
.modern.dark input[type=submit]:enabled:focus,
.modern .dark button:enabled:hover,
.modern .dark button:enabled:focus,
.modern .dark input[type=button]:enabled:hover,
.modern .dark input[type=button]:enabled:focus,
.modern .dark input[type=submit]:enabled:hover,
.modern .dark input[type=submit]:enabled:focus {
  background-color: #555555;
}
.modern.dark button:enabled:active,
.modern.dark input[type=button]:enabled:active,
.modern.dark input[type=submit]:enabled:active,
.modern .dark button:enabled:active,
.modern .dark input[type=button]:enabled:active,
.modern .dark input[type=submit]:enabled:active {
  background-color: #2f2f2f;
}
.modern.dark button.primary:enabled:hover, .modern.dark button.primary:enabled:focus,
.modern.dark input[type=button].primary:enabled:hover,
.modern.dark input[type=button].primary:enabled:focus,
.modern.dark input[type=submit].primary:enabled:hover,
.modern.dark input[type=submit].primary:enabled:focus,
.modern .dark button.primary:enabled:hover,
.modern .dark button.primary:enabled:focus,
.modern .dark input[type=button].primary:enabled:hover,
.modern .dark input[type=button].primary:enabled:focus,
.modern .dark input[type=submit].primary:enabled:hover,
.modern .dark input[type=submit].primary:enabled:focus {
  background-color: #aaaaaa;
}
.modern.dark button.primary:enabled:active,
.modern.dark input[type=button].primary:enabled:active,
.modern.dark input[type=submit].primary:enabled:active,
.modern .dark button.primary:enabled:active,
.modern .dark input[type=button].primary:enabled:active,
.modern .dark input[type=submit].primary:enabled:active {
  background-color: #6a6a6a;
}
.modern.dark input[type=checkbox]:enabled + label:hover > .check,
.modern.dark input[type=radio]:enabled + label:hover > .check,
.modern .dark input[type=checkbox]:enabled + label:hover > .check,
.modern .dark input[type=radio]:enabled + label:hover > .check {
  background-color: #555555;
}
.modern.dark input[type=checkbox]:enabled:active + label > .check,
.modern.dark input[type=radio]:enabled:active + label > .check,
.modern .dark input[type=checkbox]:enabled:active + label > .check,
.modern .dark input[type=radio]:enabled:active + label > .check {
  background-color: #6a6a6a;
}
.modern.dark input[type=checkbox]:enabled:checked + label:hover > .check,
.modern.dark input[type=radio]:enabled:checked + label:hover > .check,
.modern .dark input[type=checkbox]:enabled:checked + label:hover > .check,
.modern .dark input[type=radio]:enabled:checked + label:hover > .check {
  background-color: #aaaaaa;
}
.modern.dark input[type=checkbox]:enabled:checked:active + label > .check,
.modern.dark input[type=radio]:enabled:checked:active + label > .check,
.modern .dark input[type=checkbox]:enabled:checked:active + label > .check,
.modern .dark input[type=radio]:enabled:checked:active + label > .check {
  background-color: #484848;
}

/*# sourceMappingURL=modern.dark.css.map */
